html{
	box-sizing: border-box;
}

*,
*:before,
*:after{
	box-sizing: inherit;
}

body {
	padding: 0;
	display: flex;
	background: #333;
	min-height: 100vh;
	background: linear-gradient(135deg, black 0%, #333 48%, #686868 100%);
	background-size: cover;
	justify-content: center;
	align-items: center;
}

.video{
	width: 100%;
}

.c-video{
	max-width: 750px;
	position:relative;
	overflow: hidden;
}
.c-video:hover .controls{
	transform: translateY(0);
}

.controls{
	display: flex;
	position: absolute;
	bottom: 0;
	width: 100%;
	flex-wrap: wrap;
	background: rgba(0, 0, 0, 0.6);
	transform: translateY(100%) translateY(-5px);
	transition:  0.3s;
}

.play-button{
	width: 10%;
	border: none;
	background: black;
	color: white;
	padding: 10px;
}

.play-button:focus{
	outline: none;
}
.play-button button:before{
	content:"\f144";
	width: 30px;
	height: 30px;
	display:inline-block;
	font-size: 28px;
	color: #fff;
	-webkit-font-smoothing: antialiased;
}
.play-button button.play:before{
	content: "\f144";
}

.play-button button.pause:before {
	content: "\f28b";
}
.video-progress{
	position: relative;
	height: 5px;
	width: 100%;
	display: flex;
	transition: .3s;
	background: black;
	cursor: pointer;
}
.video-progress-filled{
	width: 0;
	background: orangered;
}
.c-video:hover .video-progress{
	height: 20px;
}

.time{
	color: black;
	width: 11%;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	align-items: center;
	justify-content: center;
	float:right;
	position: relative;
	display: flex;
}
input[type='range']{
	-webkit-appearance: none;
	background: transparent;
	margin: 0;
	width: 75%;
	padding: 0 10px;
}
input[type='range']:focus{
	outline: none;
}
input[type='range']::-webkit-slider-runnable-track{
	width: 100%;
	height: 10px;
	cursor: pointer;
	background: black;
}
input[type='range']::-webkit-slider-thumb{
	-webkit-appearance: none;
	height: 10px;
	width: 10px;
	background: orangered;
	cursor: pointer;
}
.inner-player-controls{
	width: 100%;
	display:flex;
}

.mute{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mute.muted{
	opacity: 0.5;
}

.mute .slash{
	position: absolute;
	width: 2px;
	height: 50%;
	background: white;
	transform: rotate(-50deg);
	display: none;
}

.mute.muted .slash{
	display: block;
}

.control-button{
	background: transparent;
	color: white;
	border: none;
}