#mainMenu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu {
    position: absolute;
    width: 700px;
    height: 60%;
    text-align: center;
    background-color: #fff;
    display: flex; /* establish flex container */
    flex-direction: row; /* default value; can be omitted */
    flex-wrap: nowrap;
    border-radius: 10px;
}
.menubtn:hover, .mediabtns:hover{
    opacity: 1;
    background-color: #f59e0b;
    color: #000000;
}
#menu > div#submenu {
    width: 180px;
    height: 100%;
    margin-right:5px;
    overflow: auto;
    /* border: 2px dashed black; */
}
#menu > div#rightmenu {
    width: 550px;
    height: 100%;
    border-left: 2px solid gray;
    padding-left: 5px;
    overflow: auto;
}
.menubtn {
    border: none;
    color: black;
    background-color: #ddd;
    padding: 5px 5px;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    border-radius: 50px;
    opacity: 0.6;
    transition: 0.3s;
}
.menubtn:focus{
    background-color: #f59e0b;
}
#media_btn:before {
    content: url(https://fonts.gstatic.com/s/i/materialiconsoutlined/personal_video/v12/24px.svg);
    width: 10px;
    float: left;
    margin-right: 5px;
    margin-top: 0px;
}
#audio_btn:before {
    content: url(https://fonts.gstatic.com/s/i/materialiconsoutlined/mic/v12/24px.svg);
    width: 10px;
    float: left;
    margin-right: 5px;
    
}
#video_btn:before {
    content: url(https://fonts.gstatic.com/s/i/materialiconsoutlined/videocam/v14/24px.svg);
    width: 20px;
    float: left;
    margin-right: 5px;
}
#sub_btn:before {
    content: url(https://fonts.gstatic.com/s/i/materialiconsoutlined/subtitles/v11/24px.svg);
    width: 20px;
    float: left;
    margin-right: 5px;
}
#tools_btn:before {
    content: url(https://fonts.gstatic.com/s/i/materialiconsoutlined/construction/v10/24px.svg);
    width: 20px;
    float: left;
    margin-right: 5px;
    margin-top: -2px;
}
#view_btn:before {
    content: url(https://fonts.gstatic.com/s/i/materialiconsoutlined/visibility/v14/24px.svg);
    width: 20px;
    float: left;
    margin-right: 5px;
    margin-top: -2px;
}
#help_btn:before {
    content: url(https://fonts.gstatic.com/s/i/materialiconsoutlined/help_outline/v11/24px.svg);
    width: 20px;
    float: left;
    margin-right: 5px;
    margin-top: -2px;
}
.mediabtns{
    /*border: 2px solid black;*/
    background-color: #FFFFFFFF;
    padding: 10px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
    border-radius: 20px;
    width: 250px;
}
select{
    margin: 20px;
  width: 350px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #CCC;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
label{
    color:#f59e0b;
}
