@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    -webkit-app-region: no-drag;
}

@layer utilities {
    .modal {
        position: fixed;
        left: 0;
        z-index: 100;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transform: scale(1.1);
        transition: visibility 0.5s linear 0s, opacity 0.5s 0s, transform 0.5s;
    }
    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
    }

    .x-button {
        width: 1.5rem !important;
        line-height: 1.5rem !important;
        cursor: pointer;
        border-radius: 0.25rem;
    }

    .show-modal {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        transition: visibility 0.5s linear 0s, opacity 0.5s 0s, transform 0.5s;
    }
}

@layer components {
    .active-tab {
        @apply bg-gray-800 rounded text-white;
    }
}
