div#video_player_box{ 
    width:100%;
    background-color: #000;
    margin: 0px auto;
    height:300px;}
div#video_controls_bar{
  background: #333;
  border-radius: 90px;
  padding: 10px;
  color:rgb(250, 242, 242);
  margin: 2px 10px 0px;
  
  /* display: inline-block; */
}
button#playpausebtn{
      background:url(https://fonts.gstatic.com/s/i/materialiconsoutlined/play_circle_filled/v13/24px.svg);
      border:none;
      width:22px;
      height:22px;
      cursor:pointer;
      opacity:0.5;
      margin:5px 10px 5px;
}
button#playpausebtn:hover,
button#fastfowardbtn:hover,
button#mutebtn:hover,
button#settingsbtn:hover,
button#morebtn:hover,
button#bookmarkbtn:hover,
button#fullscreenbtn:hover{ 
        opacity:1; 
    }
button#fastfowardbtn{
    background:url(https://fonts.gstatic.com/s/i/materialiconsoutlined/fast_forward/v16/24px.svg);
    border:none;
    width:22px;
    height:22px;
    cursor:pointer;
    opacity:0.5;
    margin:5px 10px 5px;
    }
input#seekslider{ 
    width: 180px;
    margin: -15px 10px 10px 5px;
    height: 20px;
    /* display: inline-block; */
    border-radius: 98px;
    }


input#volumeslider{
    width:80px;
    margin: -15px 10px 5px;
    height: 10px;
    /* display: inline-block; */
    border-radius: 95px
    }
input[type='range'] {
    -webkit-appearance: none !important;
    background: #000;
    border:#666 1px solid;
    height:10px;

    }
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: #FFF;
    height:20px;
    width:7px;
    border-radius:100%; 
    cursor:pointer;
}
input[type='range']::-webkit-scrollbar-track-piece {
    -webkit-appearance: none !important;
    background: yellow;
    height:15px;
    width:15px;
    /* border-radius:100%; */
    cursor:pointer;
}
button#mutebtn{
    background:url(https://fonts.gstatic.com/s/i/materialiconsoutlined/volume_up/v12/24px.svg);
    border:none;
    width:22px;
    height:22px;
    cursor:pointer;
    opacity:0.5;
    margin: 5px 10px 5px;
}
button#settingsbtn{
    background:url(https://fonts.gstatic.com/s/i/materialiconsoutlined/settings/v17/24px.svg);
    border:none;
    width:22px;
    height:22px;
    cursor:pointer;
    opacity:0.5;
    margin: 5px 10px 5px;
}
button#bookmarkbtn{
    background:url(https://fonts.gstatic.com/s/i/materialiconsoutlined/bookmark/v15/24px.svg);
    border:none;
    width:22px;
    height:22px;
    cursor:pointer;
    opacity:0.5;
    margin:5px 10px 5px;
}
button#fullscreenbtn{
    background:url(https://fonts.gstatic.com/s/i/materialiconsoutlined/fullscreen/v11/24px.svg);
    border:none;
    width:22px;
    height:22px;
    cursor:pointer;
    opacity:0.5;
    margin:3px 10px 3px;
}
button#morebtn{
    background:url(https://fonts.gstatic.com/s/i/materialiconsoutlined/more_vert/v17/24px.svg);
    border:none;
    width:22px;
    height:22px;
    cursor:pointer;
    opacity:0.5;
    margin:3px 10px 3px;
}
